<div class="row">
<div class="col-2">
	<h1>Infa</h1>
	<p>Всего <%=Infa.count%><br>(больше 0 - <%=Infa.where.not(:qt => '0' ).count%>)</p>
</div>
<div class="col-2 ">
	<%= link_to 'Загрузить', download_infas_path , class: 'btn btn-light'%>
	<%= link_to 'Удалить <i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, delete_selected_infas_path, class: 'btn btn-light', id: 'deleteAll', remote: true%>
</div>
<div class="col-2 "><%= link_to 'Создать файл insales', insales_infas_path , class: 'btn btn-light'%>
	<% file_ins = "#{Rails.public_path}"+'/insales_infa.csv'%>
	<% check = File.file?(file_ins)%>
	<% if check.present? %>
	<p>Файл создан - <%=File.ctime(file_ins).in_time_zone.strftime("%d/%m/%Y %H:%M" ) %> <a href="http://68.183.166.25/insales_infa.csv">Скачать</a></p>
	<% end %>
</div>

<div class="col-4">
	<%= search_form_for @search, {class: 'form-inline'} do |f|%>
		<%= f.search_field :sku_or_title_cont_any, placeholder: 'Артикул, название', class: "form-control input-sm" %>
		<%= f.submit 'Поиск', class: 'btn btn-success ml-2' %>
		<%= link_to 'Сбросить',infas_path, class: 'btn btn-light' %>
	<% end %>
</div>

</div>
<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead>
    <tr class="bg-light">
	    <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>Fid</th>
      <th>Sku</th>
      <th>Barcode</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Feature</th>
      <th>Costprice</th>
      <th>Price</th>
      <th>Qt</th>
      <th class="w-25">Image</th>
      <th>Vendor</th>
      <th>Model</th>
      <th>Iparam</th>
      <th>Cat</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="items_table">
    <% @infas.each do |infa| %>
      <tr>
	      <td><%=check_box_tag "infa_ids[]", infa.id, false, class: 'infa_ids' %></td>
        <td><%= link_to infa.fid, infa %></td>
        <td><%= infa.sku %></td>
        <td><%= infa.barcode %></td>
        <td><%= infa.title %></td>
        <td><%= truncate(infa.desc, length: 25) %></td>
        <td><%= truncate(infa.feature, length: 25) %></td>
        <td><%= infa.costprice %></td>
        <td><%= infa.price %></td>
        <td><%= infa.qt %></td>
			<td>
			<div class="row ml-0 mr-0">
				<% if infa.image %><% infa.image.split(' ').each do |pict| %>
				<div class="col-3"><img class="img-thumbnail" src="<%= pict %>"></div>
				<% end %><% end %>
				</div>
			</td>
        <td><%= infa.vendor %></td>
        <td><%= infa.model %></td>
        <td><%= infa.i_param %></td>
        <td><%= infa.cat %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_infa_path(infa) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, infa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="apple_pagination">
	<%= will_paginate @infas %>
</div>
