<p id="notice"><%= notice %></p>

<p>
  <strong>Fid:</strong>
  <%= @infa.fid %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @infa.sku %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @infa.barcode %>
</p>

<p>
  <strong>Title:</strong>
  <%= @infa.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @infa.desc %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @infa.feature %>
</p>

<p>
  <strong>Costprice:</strong>
  <%= @infa.costprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @infa.price %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @infa.qt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @infa.image %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @infa.vendor %>
</p>

<p>
  <strong>Model:</strong>
  <%= @infa.model %>
</p>

<p>
  <strong>I param:</strong>
  <%= @infa.i_param %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @infa.cat %>
</p>

<%= link_to 'Edit', edit_infa_path(@infa) %> |
<%= link_to 'Back', infas_path %>
