<p id="notice"><%= notice %></p>

<p>
  <strong>Aid:</strong>
  <%= @alvitek.aid %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @alvitek.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @alvitek.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @alvitek.desc %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @alvitek.qt %>
</p>

<p>
  <strong>Price:</strong>
  <%= @alvitek.price %>
</p>

<p>
  <strong>Mprice:</strong>
  <%= @alvitek.mprice %>
</p>

<p>
  <strong>Image:</strong>
  <%= @alvitek.image %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @alvitek.cat %>
</p>

<p>
  <strong>Col:</strong>
  <%= @alvitek.col %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @alvitek.vendor %>
</p>

<p>
  <strong>Country:</strong>
  <%= @alvitek.country %>
</p>

<p>
  <strong>Line:</strong>
  <%= @alvitek.line %>
</p>

<p>
  <strong>Razmer:</strong>
  <%= @alvitek.razmer %>
</p>

<p>
  <strong>Teplota:</strong>
  <%= @alvitek.teplota %>
</p>

<p>
  <strong>Podderjka:</strong>
  <%= @alvitek.podderjka %>
</p>

<p>
  <strong>Razm nav:</strong>
  <%= @alvitek.razm_nav %>
</p>

<p>
  <strong>Razm podod:</strong>
  <%= @alvitek.razm_podod %>
</p>

<p>
  <strong>Razmer prostini:</strong>
  <%= @alvitek.razmer_prostini %>
</p>

<p>
  <strong>Tip prostini:</strong>
  <%= @alvitek.tip_prostini %>
</p>

<p>
  <strong>Visota:</strong>
  <%= @alvitek.visota %>
</p>

<p>
  <strong>Napolnitel:</strong>
  <%= @alvitek.napolnitel %>
</p>

<p>
  <strong>Napolnitel chehla:</strong>
  <%= @alvitek.napolnitel_chehla %>
</p>

<p>
  <strong>Napolnitel yadra:</strong>
  <%= @alvitek.napolnitel_yadra %>
</p>

<p>
  <strong>Ves napolnitel:</strong>
  <%= @alvitek.ves_napolnitel %>
</p>

<p>
  <strong>Ves nopolnitel chehla:</strong>
  <%= @alvitek.ves_nopolnitel_chehla %>
</p>

<p>
  <strong>Ves napolnitel yadra:</strong>
  <%= @alvitek.ves_napolnitel_yadra %>
</p>

<p>
  <strong>Tkan:</strong>
  <%= @alvitek.tkan %>
</p>

<p>
  <strong>Sostav tkan:</strong>
  <%= @alvitek.sostav_tkan %>
</p>

<p>
  <strong>Tip zast:</strong>
  <%= @alvitek.tip_zast %>
</p>

<p>
  <strong>Tip zast navol:</strong>
  <%= @alvitek.tip_zast_navol %>
</p>

<p>
  <strong>Tip zast podod:</strong>
  <%= @alvitek.tip_zast_podod %>
</p>

<p>
  <strong>Tip krepl:</strong>
  <%= @alvitek.tip_krepl %>
</p>

<p>
  <strong>Tip stejki:</strong>
  <%= @alvitek.tip_stejki %>
</p>

<p>
  <strong>Okantovka:</strong>
  <%= @alvitek.okantovka %>
</p>

<p>
  <strong>Upak:</strong>
  <%= @alvitek.upak %>
</p>

<p>
  <strong>Tip upak:</strong>
  <%= @alvitek.tip_upak %>
</p>

<p>
  <strong>Kol upak:</strong>
  <%= @alvitek.kol_upak %>
</p>

<p>
  <strong>Material:</strong>
  <%= @alvitek.material %>
</p>

<p>
  <strong>Plotnost:</strong>
  <%= @alvitek.plotnost %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @alvitek.barcode %>
</p>


<p>
  <strong>Cvet:</strong>
  <%= @alvitek.cvet %>
</p>

<p>
  <strong>Tkan verh:</strong>
  <%= @alvitek.tkan_verh %>
</p>

<p>
  <strong>Tkan niz:</strong>
  <%= @alvitek.tkan_niz %>
</p>

<p>
  <strong>Sostav:</strong>
  <%= @alvitek.sostav %>
</p>

<%= link_to 'Edit', edit_alvitek_path(@alvitek) %> |
<%= link_to 'Back', alviteks_path %>
