<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @marc.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @marc.title %>
</p>

<p>
  <strong>Sdesc:</strong>
  <%= @marc.sdesc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @marc.desc %>
</p>

<p>
  <strong>Cprice:</strong>
  <%= @marc.cprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @marc.price %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @marc.qt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @marc.image %>
</p>

<%= link_to 'Edit', edit_marc_path(@marc) %> |
<%= link_to 'Back', marcs_path %>
