
<%= simple_form_for(@asab) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :aid %>
    <%= f.input :sku %>
    <%= f.input :title %>
    <%= f.input :sdesc %>
    <%= f.input :desc %>
    <%= f.input :cprice %>
    <%= f.input :price %>
    <%= f.input :qt %>
    <%= f.input :image %>
    <%= f.input :sostav %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
