<p id="notice"><%= notice %></p>

<p>
  <strong>Aid:</strong>
  <%= @asab.aid %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @asab.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @asab.title %>
</p>

<p>
  <strong>Sdesc:</strong>
  <%= @asab.sdesc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @asab.desc %>
</p>

<p>
  <strong>Cprice:</strong>
  <%= @asab.cprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @asab.price %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @asab.qt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @asab.image %>
</p>

<p>
  <strong>Sostav:</strong>
  <%= @asab.sostav %>
</p>

<%= link_to 'Edit', edit_asab_path(@asab) %> |
<%= link_to 'Back', asabs_path %>
