<p id="notice"><%= notice %></p>

<p>
  <strong>Systitle:</strong>
  <%= @permcl.systitle %>
</p>

<p>
  <strong>Title:</strong>
  <%= @permcl.title %>
</p>

<%= link_to 'Edit', edit_permcl_path(@permcl) %> |
<%= link_to 'Back', permcls_path %>
