
<%= simple_form_for @evatek, :html=> { class: ' ' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row my-3">
    <%= f.input :eid, disabled: true, wrapper_html: { class: 'col-md-4 ' } %>
    <% if @evatek.url.present? %><%= link_to 'Товар у поставщика', @evatek.url , class: "col-4 d-flex align-items-center", target: 'blank' %><%end%>
    <%= f.input :title ,   wrapper_html: { class: 'col-12 ' }%>
    <%= f.input :sku ,   wrapper_html: { class: 'col-4 ' }%>
    <%= f.input :cprice,   wrapper_html: { class: 'col-4 ' } %>
	<%= f.input :price ,   wrapper_html: { class: 'col-4 ' }%>
    <%= f.input :sdesc , as: :text, input_html: { rows: 3 }, wrapper_html: { class: 'col-12 ' }%>
    <%= f.input :desc , as: :text, input_html: {  rows: 3 }, wrapper_html: { class: 'col-12 ' }%>
    <%= f.input :oprice,   wrapper_html: { class: 'col-2 ' } %>
    <%= f.input :qt,   wrapper_html: { class: 'col-2 ' } %>
    <%= f.input :razmer_eu,   wrapper_html: { class: 'col-2 ' } %>
    <%= f.input :razmer_ru,   wrapper_html: { class: 'col-2 ' } %>

    <%= f.input :uzor,   wrapper_html: { class: 'col-4 ' } %>
    <%= f.input :cvet,   wrapper_html: { class: 'col-4 ' } %>
    <%= f.input :sostav ,   wrapper_html: { class: 'col-4 ' }%>
    <%= f.input :weight,   wrapper_html: { class: 'col-4 ' } %>
    <%= f.input :vendor,   wrapper_html: { class: 'col-4 ' } %>
    <%= f.input :col,   wrapper_html: { class: 'col-4 ' } %>
    <%= f.input :country, as: :text, input_html: {  rows: 1 }, wrapper_html: { class: 'col-4 ' } %>

   </div> 
    <% if @evatek.image.present? %>
  <div class="ml-0 mr-0 row">
  <% @evatek.image.split(' ').each do |pict| %>
  <div class="col-1 "><img class="img-fluid img-thumbnail" src="<%= pict %>"></div>
  <% end %>
  </div>
  <%end%>

  <div class="col-3 btn-group my-3" role="group">
    <%= f.button :submit, value: 'Обновить' , class: 'btn btn-success' %>
    <%= link_to 'Назад', url_for(:back), class: 'btn btn-info' %>
  </div>
<% end %>
