<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @best.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @best.title %>
</p>

<p>
  <strong>Sdesc:</strong>
  <%= @best.sdesc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @best.desc %>
</p>

<p>
  <strong>Cprice:</strong>
  <%= @best.cprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @best.price %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @best.qt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @best.image %>
</p>

<p>
  <strong>Sv razmer:</strong>
  <%= @best.sv_razmer %>
</p>

<p>
  <strong>P razmer:</strong>
  <%= @best.p_razmer %>
</p>

<p>
  <strong>P napolnit:</strong>
  <%= @best.p_napolnit %>
</p>

<p>
  <strong>P visota:</strong>
  <%= @best.p_visota %>
</p>

<p>
  <strong>P dlina:</strong>
  <%= @best.p_dlina %>
</p>

<p>
  <strong>P shirina:</strong>
  <%= @best.p_shirina %>
</p>

<p>
  <strong>P ves:</strong>
  <%= @best.p_ves %>
</p>

<p>
  <strong>P sostav:</strong>
  <%= @best.p_sostav %>
</p>

<p>
  <strong>P osoben:</strong>
  <%= @best.p_osoben %>
</p>

<p>
  <strong>P tipmatrasa:</strong>
  <%= @best.p_tipmatrasa %>
</p>

<p>
  <strong>P garant:</strong>
  <%= @best.p_garant %>
</p>

<p>
  <strong>P forma:</strong>
  <%= @best.p_forma %>
</p>

<%= link_to 'Edit', edit_best_path(@best) %> |
<%= link_to 'Back', bests_path %>
