<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @cleo.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cleo.title %>
</p>

<p>
  <strong>Sdesc:</strong>
  <%= @cleo.sdesc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @cleo.desc %>
</p>

<p>
  <strong>Cprice:</strong>
  <%= @cleo.cprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cleo.price %>
</p>

<p>
  <strong>Qt:</strong>
  <%= @cleo.qt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cleo.image %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @cleo.barcode %>
</p>

<p>
  <strong>Dizain:</strong>
  <%= @cleo.dizain %>
</p>

<p>
  <strong>Cvet:</strong>
  <%= @cleo.cvet %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @cleo.tema %>
</p>

<p>
  <strong>Okras:</strong>
  <%= @cleo.okras %>
</p>

<p>
  <strong>Otdelka:</strong>
  <%= @cleo.otdelka %>
</p>

<p>
  <strong>Zast:</strong>
  <%= @cleo.zast %>
</p>

<p>
  <strong>Kvopred:</strong>
  <%= @cleo.kvopred %>
</p>

<p>
  <strong>Tkan:</strong>
  <%= @cleo.tkan %>
</p>

<p>
  <strong>Plotnost:</strong>
  <%= @cleo.plotnost %>
</p>

<p>
  <strong>Sostav:</strong>
  <%= @cleo.sostav %>
</p>

<p>
  <strong>Obrazmer:</strong>
  <%= @cleo.obrazmer %>
</p>

<p>
  <strong>Pr razmer:</strong>
  <%= @cleo.pr_razmer %>
</p>

<p>
  <strong>Obem:</strong>
  <%= @cleo.obem %>
</p>

<p>
  <strong>Ves:</strong>
  <%= @cleo.ves %>
</p>

<p>
  <strong>Razmer upak:</strong>
  <%= @cleo.razmer_upak %>
</p>

<p>
  <strong>Vid upak:</strong>
  <%= @cleo.vid_upak %>
</p>

<%= link_to 'Edit', edit_cleo_path(@cleo) %> |
<%= link_to 'Back', cleos_path %>
